:root {
  --main-brand-color: #a6acec;
  --first-color: #35013f;
  --second-color: #b643cd;
  --third-color: #99ddcc;
  --fourth-color: #ff5da2;
  --box-shadow: 10px 4px 17px #a6acec;
  --main-font: "Poppins", sans-serif;
  --default-font: "Playfair Display", serif;
}

h1,
h2 {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  color: var(--fourth-color);
  text-decoration: underline;
  text-transform: capitalize;
}

h1 {
  font-family: var(--main-font);
  font-size: 96px;
  line-height: 128px;
}

h2 {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: var(--fourth-color);
}

h3,
h4,
h5,
h6 {
  text-align: center;
  text-decoration: underline;
  font-family: var(--main-font);
  color: var(--second-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
}

p {
  color: var(--first-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--main-font);
  font-style: normal;
}

footer {
  font-size: 12px;
  font-family: var(--default-font);
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.btn-brand-button-style {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  text-transform: capitalize;
  background: var(--main-brand-color);
  color: var(--first-color);
  border: 3px solid var(--fourth-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 10px 30px 10px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 800;
}

.btn-brand-button-style:hover {
  background: var(--fourth-color);
  color: var(--main-brand-color);
  border: 3px solid var(--main-brand-color);
  text-decoration: underline;
}

.bg-brand {
  background: var(--main-brand-color);
  border: 3px solid var(--second-color);
  border-radius: 20px;
}

.navbar-logo {
  width: 100px;
  height: 100px;
  left: 165px;
  top: 40px;
  border-radius: 20px;
  border: 3px solid var(--second-color);
}

.nav-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--fourth-color);
  background: var(--third-color);
  border-radius: 20px;
  border: 3px solid var(--second-color);
}

.nav-link:hover {
  color: var(--third-color);
  background: var(--fourth-color);
  border-radius: 10px;
  border: 3px solid var(--third-color);
  text-decoration: underline;
}

.container-main {
  border: 3px solid var(--first-color);
  border-radius: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
  border: 3px solid var(--main-brand-color);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}

.content-container img {
  max-width: 100%;
  border-radius: 20px;
  border: 5px solid var(--third-color);
}

.about-page {
  font-size: 50px;
}

.content-container-work {
  margin: 30px;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid var(--first-color);
}

.content-container-work h6 {
  font-family: var(--default-font);
  font-size: 50px;
  text-align: left;
  text-transform: capitalize;
}

.content-container-work img {
  width: 560px;
  height: 560px;
}
