:root {
  --main-brand-color: #a6acec;

  --first-color: #35013f;

  --second-color: #b643cd;

  --third-color: #99ddcc;

  --fourth-color: #ff5da2;

  --box-shadow: 10px 4px 17px #a6acec;

  --main-font: "Poppins", sans-serif;

  --default-font: "Playfair Display", serif;
}

h1 {
  text-align: center;
  color: var(--main-brand-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  text-decoration: underline;
  text-transform: capitalize;
}

.btn-brand-button-style {
  text-transform: capitalize;
  line-height: 27px;
  background: var(--main-brand-color);
  color: var(--fourth-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 800;
}

.btn-brand-button-style:hover {
  text-decoration: underline;
}

.bg-brand {
  background: var(--main-brand-color);
}

.navbar-logo {
  max-width: 100px;
  border-radius: 30px;
  border: 3px solid var(--second-color);
}

.nav-link {
  text-align: center;
  color: var(--fourth-color);
  background: var(--third-color);
  border-radius: 10px;
  border: 3px solid var(--first-color);
}

.container-main {
}
